#html,body {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

p {
   /*font-family: 'Merriweather', serif;*/
    font-family: 'Bellefair', serif;
    font-size: 24px;  
    line-height: 1.5em;
    letter-spacing: 0.5px;
    text-align: justify;
    color: #484848;
    word-spacing: 0.1px;
    margin-bottom: 60px;
}    

.aboutpara {
    margin-bottom: 0px;
}

h4 {
    font-size: 45px;  
    line-height: 1.3em;
    color: #484848;
    letter-spacing: 1.5px;
    font-weight: 500;
    margin-bottom: 60px; 
}

.first_letter {
    font-size: 50px;
}

 .foreword_txt{
     font-family: 'Bellefair', serif;
     font-size: 24px;
     letter-spacing: 0.25px;   
     line-height: 1.6em;
     color: #484848;
}

.footer,.push {
   flex-shrink: 0;
    width: 100%;
    height: 30px;
    background-color: #181818;
}

.trademark_txt {
    height: 20px;
    width:250px;
    font-family: 'Bellefair', serif;
    color: white;
    letter-spacing: 2px;
    font-size: 13px;
    margin: auto;
    position: relative;
    top:10px; 
    text-align: center;
}

.header_button:hover {
    background-color: #404040;
    transition:all 0.6s ease;
    font-size: 18px;
    
}

.header_button a:hover {
    color: white;
    font-size: 18px;
    transition:all 0.6s ease;
    font-family: 'Montserrat', sans-serif;
    
}

.header {
    width:100%;
    height:100px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    background-color: white;
    box-shadow: 0px 1px 5px #888888;
}

#mainpage_sticky_header {
    position: sticky;
    top: 0;
    z-index: 100;
}


.logo_container {
    height:100%;
    float:left;
    position:relative;
    left:70px;
    display: flex;
    }

#logo{
    align-self: center;
    /*width:84%;
    position:relative;
    top:50%;
    transform: translateY(-50%); */
}

.logo_text {
    color: #181818;
    letter-spacing: 4px;
    font-size: 40px;
}

.navigation_container {
    height:100%;
    float:right;
    width:500px;
    position:relative;
    right:70px;     
}

.header_button {
    width:125px;
    height: 100%;
    display: inline-block;
    float:left;

}

.header_button a {
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #1E1E1E;
    height: 100%;
    line-height: 100px;
}

.separator {
    margin: 0px auto 0px auto;
    width: 100%;
    display: block;
}

.heading_pic_container {
    width:100%;
    margin-bottom: 40px;
    
}
.heading_pic {
    width:100%;}

.page_content {
    width: 100%;
    margin: 60px 0px 60px 0px;
}

.content_header {
    width:100%;
    height:60px;
    text-align: center;  
    margin: 20px 0px
}

.heading_txt {
    color: #181818;
    letter-spacing: 3px;
    font-size: 60px; 
    line-height: 60px;
}

.figcaption {
    padding: 10px;
    font-family:'Bellefair', serif; 
    color: #030303;
    text-align: center
    
}


/**Main Page CSS**/    

#mainpage_logo_container {
    position: relative;
    left: 50%;
    transform: translateX(-50%); 
}

#mainpage_logo_text {
    letter-spacing: 10px;
}

#ocean_pic_actual {
    width:100%;    
}

#ocean_pic {
    height: 543px;
    border-bottom:2px solid rgba(0,0,0,0.15);
}

#welcome_txt_container {
    position: absolute;
    width: 500px;
    display: block;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    top: 285px
   
}

#welcome_txt {
    font-size: 70px;
    color: #484848;
    letter-spacing: 1px;
   font-family: 'Bellefair', serif;
    
}

#main_page_directory  {
    width:100%;
    height:100px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    
}

#mainpage_navigation_container {
    height: 100%;
    display: inline-block;
    
}

.mainpage_header_button {
    display: inline-block;
    width: 200px;
    margin: 0px 60px;
    height: 100%;
    float: left
}


.mainpage_header_button a {
    display: block;
    text-align: center;
    font-family: 'Bellefair', serif;
    font-size: 28px;
    text-decoration: none;
    color: #181818;
    line-height: 100px;
    letter-spacing: 5px;
}


.content_wrapper {
    width:80%;
    margin: auto;
    /*flex: 1 0 auto;
   display: flex;*/
}

#foreword {
   width: 80%;
   margin:auto; 
   margin-top: 20px;
   margin-bottom: 30px; 
}
/**Contacts Page CSS**/

#mountain_pic {
    width:100%;
}

#mountain_pic_container {
    height:659px;
    border-bottom:2px solid rgba(0,0,0,0.15);
}

#contact_message_container {
    position: absolute;
    width: 50%;
    height:60%;
    left: 50%;
    transform: translateX(-50%);
    top:200px;  
}

.contact_message_text {
    display: block;
    font-family: Merriweather;
    font-size: 15px;
    color: white;
    line-height: 1.7em;
    letter-spacing: 1px;
    text-align: center;    
}

#email_text {
    position: relative;
    top: 38px;
    font-size: 40px;
}

#social_media_text {
    position: relative;
    top: 80px;
    font-size: 12px;
}

.socials_container {
    height: 30px;
    width: 50%;
    margin: auto;
    position: relative;
    top: 95px;
    text-align: center;
}

.socials_button_container {
    height: 100%;
    width: 30px;
    display: inline-block;
    margin: 0px 20px
}

.socials_icon {
    height: 100%;
}

#extrainfo {
    height: 50px;
    width: 200px;
    font-size: 8px;   
    margin: auto;
    position: relative;
    top: 115px;
}

/** About Page CSS **/


#profile_pic_container {
    width: 350px;
    float: left;
    margin: 0px 50px 10px 0px;
    
}

#profile_pic_actual {
     width:350px;
    height: 350px;
}


.about_me_txt {
    margin: 50px 0px;   
}

/*#about_first_para {
    padding-top: 200px;  
}/


/** Media CSS **/
/** Media Directory Page CSS**/

.media_content_entriescontainer {
    width: 90%;
    margin: 60px auto;
    height: 220px;
    border: 1px solid rgba(0,0,0,0.15);
} 


.media_content_entriescontainer:hover {
    box-shadow: 0px 1px 5px #888888;
    transition: all 0.2s ease;
    
}

.media_thumbnail_container{
    height: 220px;
    width: 220px;
    margin: 0px 60px;
    float: left;
}

.media_thumbnail_square {
    height: 180px;
    width: 180px;
    margin: 20px;
}

.media_thumbnail_wide {
    height: 150px;
    width: 100%;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);  
    border: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
}

.media_posttitlecontainer {
    height: 45px;
    float: left;
    position: relative;
    top: 15px;
    width: 60%;
    text-align: center;
}

.media_contentdescripcontainer {
    height: 90px;
    width: 60%;
    float: left;
    position: relative;
    top: 40px;
    text-align: center;
    text-align: justify;
    padding-bottom: 5px 
}

.posttitle {
    font-size: 40px;
    line-height: 50px;
    color: #484848;
    letter-spacing: 0.7px;
}

.postdescrip {
    font-size: 20px;
    color: #484848;
    letter-spacing: 0.7px;
}

.postseparator {
    width: 100%;
    margin: auto;
    margin: 6px 0px;
    color: #181818;
    opacity: 0.7;
}

.articledatetest {
    display: block;
    font-size: 15px;
    color: #181818;
    letter-spacing: 1.5px;
    margin: 2px 0px;
}

/** Individual Articles CSS**/

.article_main_container{
    width: 100%;
    margin: 100px 0px;
    text-align: center;
}

.articletext {
    display: inline-block;
    font-size: 55px;
    width: 700px;
    letter-spacing: 2px;
    line-height: 75px;
    color: #181818;
    margin: auto;
}


.articledate {
    display: inline-block;
    font-size: 15px;
    width: 700px;
    letter-spacing: 2px;
    color: #181818; 
    margin: 10px 0px 0px 0px
}

#postseparatoractual {
    width: 150px;
    margin: 5px auto;
}

.mainarticlecontentwrapper {
    width: 100%;
    margin: 70px 0px;
}

.articleparagraphswrapper {
    width: 70%;
    margin: 30px auto;
}

.articlepicture {
    width:100%;
    margin: 40px auto;
}

.articlevideo {
    width:100%;
    margin: 50px 0px;
}

.footnotes {
    height: 200px;
    width: 80%;
    display: block;
    margin: 100px auto 0px ;
    border: 1px solid rgba(0,0,0,0.1);
    
}

.footnoteheader {
    display: block;
    width: 100%;
    height: 30px;
}

.footnotetext {
    font-size: 18px;  
    color: #484848;
    letter-spacing: 1.5px;
    font-weight: 500;
    line-height: 30px;
    position: relative;
    left: 10px;
}

.footnotecontent {
    width: 100%;
    height: 20px;
}

/** Post1 CSS**/

#post1pic1{
    display: block;
    margin: auto;
}

#post1caption1 {
    text-align: center;
}

#post1pic2 {
    width: 500px;
    display: block;
    margin:  50px auto 0px auto;}

/**Post2 CSS**/

#post2pic1 {
    width: 70%;
    display: block;
    margin: 50px auto 0px;
}



#post2pic2 {
    margin: 40px auto 20px;
    width: 70%;
    display: block;
}


#post2vid1 {
    display: block;
    margin: auto;
}